.Main {
  text-align: center;
}

.Container {
  display: inline-block;
  margin-top: 50px;
}

.Cell {
  height: 10px;
  width: 10px;
  border: 1px solid black;
}

.Cell-black {
  background-color: black;
}
